@use '../../styles/variables' as *;

.container {
  min-height: 100vh;
  background-color: $background-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: flex;
  height: 100vh; /* Faz com que o contêiner ocupe 100% da altura da tela */
}